<nav class="navbar navbar-expand-lg bg-black">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo argentina programa.jpg" alt="logo argentina programa" class="w-50">
    </a>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><a href="https://www.linkedin.com/in/christian-damian-benavidez-65a674245/"
          target="_blank"><i class="fa-brands fa-linkedin fa-2x text-white"></i></a></li>
      <li class="list-group-item"><a href="https://github.com/cdbenavidez" target="_blank"><i
            class="fa-brands fa-github fa-2x text-white"></i></a></li>
      <li class="list-group-item"><a href="https://www.facebook.com/cristianbenavidez2/" target="_blank"><i
            class="fa-brands fa-facebook fa-2x text-white"></i></a></li>
      <li class="list-group-item">
        <!-- Buton abre login-->
        <i data-bs-toggle="modal" data-bs-target="#loginModal" class="fa-solid fa-user-lock fa-2x text-white"></i>
      </li>
    </ul>
  </div>
</nav>
