<!--barra progreso-->
<section class="barra-progress">
  <h1>habilidades</h1>
  <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 90%"><h4>html</h4></div>
  </div>
  <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 85%"><H4>css</H4></div>
  </div>
  <div class="progress" role="progressbar" aria-label="Info striped example" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" style="width: 70%"><h4>java script</h4></div>
  </div>
  <div class="progress" role="progressbar" aria-label="Warning striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" style="width: 75%"><h4>bootstrap</h4></div>
  </div>
  <div class="progress" role="progressbar" aria-label="Danger striped example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" style="width: 80%"><h4>angular</h4></div>
  </div>
</section>
