 <!--carrousel estudios-->
 <section class="carousel">
  <h1>certificados de estudios</h1>
  <div id="carousel" class="carousel slide" data-bs-interval="600" data-bs-ride="carousel">
    <div class="carousel-inner">
       <div class="carousel-item active"img-fluid>
         <img src="assets/img/argentina_programa_2022-.jpg" class="d-block w-75 rounded mx-auto" alt="argentina_programa_2022-">
        </div>
       <div class="carousel-item ">
          <img src="assets/img/Certificado-BaMultiplica_Curso 45_08-.jpg" class="d-block w-75 rounded mx-auto" alt="Certificado-BaMultiplica_Curso">
        </div>
        <div class="carousel-item">
          <img src="assets/img/Introducción a Qa.jpg.jpeg" class="d-block w-75 rounded mx-auto" alt="Introducción a Qa">
        </div>
       <div class="carousel-item">
         <img src="assets/img/BA Multiplica 2.0_.jpg" class="d-block w-75 rounded mx-auto" alt="Certificado-BaMultiplica_2.0">
       </div>
      </div>
      <div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
  <span class="carouselcontrol-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
      </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
     </button>
    </div>
  </div>
</section>
